/* footer style **************************************************************************/
.nav-wrapper .col.s12{
    padding-left:5%;
    padding-right:5%;
}
footer.page-footer {
    background-color: #f5f5f5;
}
.footerJoinUs{
    border-left: 1px solid #4caf50;
    /* height: 180px; */
}
.footerJoinUs{
    margin: auto !important;
    font-variant-caps: small-caps;
}
.footer-copyright{
    background-image:linear-gradient( to left, #00c367 0%, #00c367 12%, rgba(77, 172, 150, 1) 47%, rgba(28, 111, 181, 1) 100% );
}
.footerContact h5, .footerLink h5{
    font-size: 19px;
    font-variant-caps: small-caps;
}
.footerContact li, .footerLink li, .footerLink li a, .footerJoinUs{
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5em;
    color: grey;
}
.footerContact li{
    line-height: 2em;
}
.footerContact li i{
    font-size: 14px;
    margin-right: 8px;
}
.footerLink li a:hover{
    color: #1c6fb5;
    text-decoration: black;
}
.footerJoinUs img{
    height: 50px;
    width: 50px;
    margin: 1%;
    cursor: pointer;
}
@media(min-width: 1280px){
    #imgFooter{
        height: 90px;
    }
}
@media (min-width: 600px){
    .footer-container{
        padding: 0% 5%;
    }
    #imgFooter{
        height: 80px;
    }
}
@media (max-width: 600px){
    .footerLink{
        text-align: right;
    }
    .footer-img{
        text-align: center;
    }
    .footer-container{
        padding-left: 10%; 
        padding-right: 10%;
    }
    #imgFooter{
        height: 60px;
    }
    .footerContact li, .footerLink li{
        font-size: 10px;
    }
    .footerContact li i{
        font-size: 11px;
        margin-right: 6px;
    }
}