.nav-wrapper {
    background-color: #fff;
}
nav a , nav ul a{
    color: #000;
}
.show-on-large{
    display: none !important;
}
.headerLogo{
    position: absolute;
    top: 10px;
    height: 45px;
    width: 35px;
}