@media(min-width: 1280px){
    .mobile-tez-logo{
        height: 65px;
        width: 100px;
    }
}
@media (max-width: 900px){
    .mobile-tez-logo{
        height: 40px;
        width: 60px;
    }
}


.header-wider-nav, .breadcrumb-nav{
    box-shadow:none;
}
.header-wider-nav .nav-wrapper, .breadcrumb-nav .nav-wrapper{
    background-color: #4caf50;
}

.header-wider-nav .nav-wrapper .col a{
    color: white;
}
#nav-mobile li a{
    color: black;
}
.bg-green{
    margin-top: 0;
    background-color: #4caf50;
    color: white;
    padding: 3%;
}
.bg-green h2,.bg-green h3,.bg-green h4,.bg-green h5{
    text-align: center;
}