@font-face {
    font-family: 'League Spartan';
    src: url('../webfonts/leaguespartan-bold.eot');
    src: url('../webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('../webfonts/leaguespartan-bold.woff') format('woff'),
         url('../webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('../webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
h1,h2,h3,h4,h5,h6,ul{
    font-family: 'League Spartan';
}
.collapsible-body,p{
    font-family: 'Open Sans';
}
.colorBlack{
    color: #3C4858;
}
.colorGrey{
    color: #636363;
    font-weight: 500;
}
section{
    margin: auto;
}
.box{
	padding: 3% 0;
}
@media (min-width: 600px){
    .box{
        width: 80%;
        margin: auto;
    }
    .box p{
        font-size: 1.2em;
    }
}
@media (max-width: 600px){
    .box{
        padding:10%;
    }
    .box h3{
        font-size: 1.5rem;
        margin: auto;
    }
}
.blue-text{
    color:#1c6fb5 !important;
}
.hrDivider{
    height: 1px;
    width: 70px;
    float: left;
    position: absolute;
    margin: auto;
    background: #0089ec;
    border: 1px solid #0089ec;
}
.hrDividerCenter{
    width: 10vh;
    background: #0089ec;
    border: 2px solid #0089ec;
}

/* slider problem *************************************************************************/
#sidenav-overlay {
    position: inherit;
}
