@font-face {
    font-family: 'League Spartan';
    src: url('../webfonts/leaguespartan-bold.eot');
    src: url('../webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('../webfonts/leaguespartan-bold.woff') format('woff'),
         url('../webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('../webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
h1,h2,h3,h4,h5,h6,ul{
    font-family: 'League Spartan';
}
.collapsible-body,p{
    font-family: 'Open Sans';
}
section{
    margin: auto;
}

@media (min-width: 600px){
    .box{
        width: 75%;
    }
}
.MuiButton-containedPrimary-110{
    background-color: #4caf50 !important;
}

/* slider problem *************************************************************************/
#sidenav-overlay {
    position: inherit;
}
